In [34]:
import pandas as pd
import nltk
import re
import string

In [35]:
df = pd.read_csv('tweets_df.csv')

In [36]:
print(df)
print(df.shape)

                       id      conversation_id  \
0     1447890767557521418  1447801332224573448
1     1447887272284667909  1447887272284667909
2     1447885903012188160  1447885903012188160
3     1447885026721349632  1447885026721349632
4     1447876514784153601  1446409715160915968
...                   ...                  ...
1595  1444757466701570050  1444757466701570050
1596  1444753912200933378  1444753912200933378
1597  1444752391241359364  1444750781916368896
1598  1444752264418238468  1444746843028606981
1599  1444749100612820995  1444749100612820995

                                        created_at        date      time  \
0     2021-10-12 13:43:54 Hora de Ver√£o de Romance  2021-10-12  13:43:54
1     2021-10-12 13:30:00 Hora de Ver√£o de Romance  2021-10-12  13:30:00
2     2021-10-12 13:24:34 Hora de Ver√£o de Romance  2021-10-12  13:24:34
3     2021-10-12 13:21:05 Hora de Ver√£o de Romance  2021-10-12  13:21:05
4     2021-10-12 12:47:16 Hora de Ver√£o de Romance  2021-10-12  12:47:16
...                                            ...         ...       ...
1595  2021-10-03 22:13:17 Hora de Ver√£o de Romance  2021-10-03  22:13:17
1596  2021-10-03 21:59:09 Hora de Ver√£o de Romance  2021-10-03  21:59:09
1597  2021-10-03 21:53:06 Hora de Ver√£o de Romance  2021-10-03  21:53:06
1598  2021-10-03 21:52:36 Hora de Ver√£o de Romance  2021-10-03  21:52:36
1599  2021-10-03 21:40:02 Hora de Ver√£o de Romance  2021-10-03  21:40:02

      timezone              user_id         username  \
0          200  1435238364983148545   boksungazuseyo
1          200  1325706116056145920       ajedrezbot
2          200  1248114374423838720       foucault2k
3          200   985110127928725504        eskrimijo
4          200   953363920915398656        salihu___
...        ...                  ...              ...
1595       200   999741745913937926       aranhawaii
1596       200  1205915005725618176      dimamakuper
1597       200             25810724  celticchickadee
1598       200  1418499968357343233   grumpyknickers
1599       200  1414231212923699208       starbl1ght

                                              name place  ... geo source  \
0                                          zuleika   NaN  ... NaN    NaN
1                                   Bot de Ajedrez   NaN  ... NaN    NaN
2                Mr. Jerked-off to queens gambit üå∂   NaN  ... NaN    NaN
3                                             Len.   NaN  ... NaN    NaN
4                                     Sali D Wacki   NaN  ... NaN    NaN
...                                            ...   ...  ...  ..    ...
1595                                    aranhawaii   NaN  ... NaN    NaN
1596                    –î–∏–º–∞ –ú–∞–∫–∏—è–∂–∫–∏–Ω FINALLY 9/9   NaN  ... NaN    NaN
1597                               celticchickadee   NaN  ... NaN    NaN
1598                               Grumpy Knickers   NaN  ... NaN    NaN
1599  bel ‚òÜ amphibia spoilers / started squid game   NaN  ... NaN    NaN

     user_rt_id user_rt retweet_id  \
0           NaN     NaN        NaN
1           NaN     NaN        NaN
2           NaN     NaN        NaN
3           NaN     NaN        NaN
4           NaN     NaN        NaN
...         ...     ...        ...
1595        NaN     NaN        NaN
1596        NaN     NaN        NaN
1597        NaN     NaN        NaN
1598        NaN     NaN        NaN
1599        NaN     NaN        NaN

                                               reply_to  retweet_date  \
0     [{'screen_name': 'FkinEndMeFam', 'name': 'Simo...           NaN
1                                                    []           NaN
2                                                    []           NaN
3                                                    []           NaN
4                                                    []           NaN
...                                                 ...           ...
1595                                                 []           NaN
1596                                                 []           NaN
1597  [{'screen_name': 'welliesnseaweed', 'name': 'W...           NaN
1598  [{'screen_name': 'tractorgirly', 'name': 'ùì£ùìªùì™ùì¨...           NaN
1599                                                 []           NaN

      translate trans_src trans_dest
0           NaN       NaN        NaN
1           NaN       NaN        NaN
2           NaN       NaN        NaN
3           NaN       NaN        NaN
4           NaN       NaN        NaN
...         ...       ...        ...
1595        NaN       NaN        NaN
1596        NaN       NaN        NaN
1597        NaN       NaN        NaN
1598        NaN       NaN        NaN
1599        NaN       NaN        NaN

[1600 rows x 36 columns]
(1600, 36)

In [37]:
df.duplicated().value_counts()

False    1600
dtype: int64

In [38]:
df.columns.tolist()

['id',
 'conversation_id',
 'created_at',
 'date',
 'time',
 'timezone',
 'user_id',
 'username',
 'name',
 'place',
 'tweet',
 'language',
 'mentions',
 'urls',
 'photos',
 'replies_count',
 'retweets_count',
 'likes_count',
 'hashtags',
 'cashtags',
 'link',
 'retweet',
 'quote_url',
 'video',
 'thumbnail',
 'near',
 'geo',
 'source',
 'user_rt_id',
 'user_rt',
 'retweet_id',
 'reply_to',
 'retweet_date',
 'translate',
 'trans_src',
 'trans_dest']

In [39]:
df = df.drop(columns = ['id',
 'conversation_id',
 'created_at',
 'date',
 'time',
 'timezone',
 'user_id',
 'username',
 'name',
 'place',
 'mentions',
 'urls',
 'photos',
 'replies_count',
 'retweets_count',
 'likes_count',
 'hashtags',
 'cashtags',
 'link',
 'retweet',
 'quote_url',
 'video',
 'thumbnail',
 'near',
 'geo',
 'source',
 'user_rt_id',
 'user_rt',
 'retweet_id',
 'reply_to',
 'retweet_date',
 'translate',
 'trans_src',
 'trans_dest'])

In [44]:
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
import string
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
n_words= set(stopwords.words('english'))
from nltk.tokenize import word_tokenize
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer

porter = PorterStemmer()
lemmatizer = WordNetLemmatizer()
#nltk.download('punkt')
#nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\leono\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [45]:
df

                                                  tweet language
0     @FkinEndMeFam @Hyeon00887912 hey i‚Äôm all for w...       en
1     #chess #Chessbrah #botezlive #check #checkmate...      und
2                                 Raising canes chicken       en
3              Kenapa jadi pengen rreatch queens gambit       in
4     Then queens gambit dropped, broo, I was so int...       en
...                                                 ...      ...
1595  Yo look what I found in this shop!  https://t....       en
1596  –ú–Ω–µ –Ω—Ä–∞–≤–∏—Ç—Å—è –∫–∞–∫ –º–æ—è –º–∞–º–∞ –≤–∑—è–ª–∞ –ø—Ä–æ—Ç–æ—Ç–∏–ø –Ω–∞–ø–∏–≤...       ru
1597  @welliesnseaweed All Creatures Great &amp; Sma...       en
1598  @tractorgirly Loved The Queens Gambit, I‚Äôd wat...       en
1599  rebuilding my #cartoontwt, #frogtwt, #owltwt m...       en

[1600 rows x 2 columns]

In [48]:
def clean(text):
    stopwords = nltk.corpus.stopwords.words('english')
    cleaned_sentence = text.lower()
    cleaned_sentence = re.sub('[0-9]+', '', cleaned_sentence)
    cleaned_sentence = "".join([i for i in cleaned_sentence if i not in string.punctuation])
    number_words = len(cleaned_sentence.split())
    if number_words > 256:
        cleaned_sentence = cleaned_sentence.split()[:256]
        cleaned_sentence = ' '.join(cleaned_sentence)
    # removing @ tags and links from the text
    cleaned_sentence= ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t]) |(\w+:\/\/\S+)", " ", text).split())
    # converting all letters to lower case and relacing '-' with spaces.
    cleaned_sentence= text.lower().replace('-', ' ')
    # removing stowards and numbers
    table= str.maketrans('', '', string.punctuation+string.digits)
    cleaned_sentence= text.translate(table)
    # tokenizing words
    tokens = word_tokenize(cleaned_sentence)
    # stemming the words
    stemmed = [porter.stem(word) for word in tokens]
    words = [w for w in stemmed if not w in n_words]
    cleaned_sentence = ' '.join(words)
    return cleaned_sentence

In [49]:
df['cleaned_tweet'] = df['tweet'].apply(lambda x: clean(x))

In [50]:
df

,tweet,language,cleaned_tweet
0,@FkinEndMeFam @Hyeon00887912 hey i‚Äôm all for w...,en,fkinendmefam hyeon hey ‚Äô said said come across...
1,#chess #Chessbrah #botezlive #check #checkmate...,und,chess chessbrah botezl check checkmat queensga...
2,Raising canes chicken,en,rais cane chicken
3,Kenapa jadi pengen rreatch queens gambit,in,kenapa jadi pengen rreatch queen gambit
4,"Then queens gambit dropped, broo, I was so int...",en,queen gambit drop broo wa chess woulda gm stay...
...,...,...,...
1595,Yo look what I found in this shop! https://t....,en,yo look found thi shop httpstcobqqbneath queen...
1596,–ú–Ω–µ –Ω—Ä–∞–≤–∏—Ç—Å—è –∫–∞–∫ –º–æ—è –º–∞–º–∞ –≤–∑—è–ª–∞ –ø—Ä–æ—Ç–æ—Ç–∏–ø –Ω–∞–ø–∏–≤...,ru,–º–Ω–µ –Ω—Ä–∞–≤–∏—Ç—Å—è –∫–∞–∫ –º–æ—è –º–∞–º–∞ –≤–∑—è–ª–∞ –ø—Ä–æ—Ç–æ—Ç–∏–ø –Ω–∞–ø–∏–≤...
1597,@welliesnseaweed All Creatures Great &amp; Sma...,en,welliesnseawe creatur great amp small c seri a...
1598,"@tractorgirly Loved The Queens Gambit, I‚Äôd wat...",en,tractorgirli love queen gambit ‚Äô watch üòä
1599,"rebuilding my #cartoontwt, #frogtwt, #owltwt m...",en,rebuild cartoontwt frogtwt owltwt mutual appli...

In [52]:
df = df[df['language'] == 'en']

In [53]:
df

,tweet,language,cleaned_tweet
0,@FkinEndMeFam @Hyeon00887912 hey i‚Äôm all for w...,en,fkinendmefam hyeon hey ‚Äô said said come across...
2,Raising canes chicken,en,rais cane chicken
4,"Then queens gambit dropped, broo, I was so int...",en,queen gambit drop broo wa chess woulda gm stay...
6,Accomplishments in the past 4 days: ‚òë squidgam...,en,accomplish past day ‚òë squidgam ‚òë queen gambit ...
8,@spaceystudios Are these on Open sea?,en,spaceystudio open sea
...,...,...,...
1594,"@deadslxts my dark vannessa, rose rivers, a gu...",en,deadslxt dark vannessa rose river guid murder ...
1595,Yo look what I found in this shop! https://t....,en,yo look found thi shop httpstcobqqbneath queen...
1597,@welliesnseaweed All Creatures Great &amp; Sma...,en,welliesnseawe creatur great amp small c seri a...
1598,"@tractorgirly Loved The Queens Gambit, I‚Äôd wat...",en,tractorgirli love queen gambit ‚Äô watch üòä
1599,"rebuilding my #cartoontwt, #frogtwt, #owltwt m...",en,rebuild cartoontwt frogtwt owltwt mutual appli...

In [58]:
df_squid = pd.read_csv('tweets_df_squid.csv')

In [59]:
df_squid.shape

(10017, 36)

In [62]:
df_squid.drop_duplicates()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1447909470730915841,1447909470730915841,2021-10-12 14:58:13 Hora de Ver√£o de Romance,2021-10-12,14:58:13,200,34632756,q104halifax,Q104Halifax,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1447909469317476362,1447909469317476362,2021-10-12 14:58:12 Hora de Ver√£o de Romance,2021-10-12,14:58:12,200,763478545419137026,a5427kn,Kiki,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1447909449935380482,1447908233809567751,2021-10-12 14:58:08 Hora de Ver√£o de Romance,2021-10-12,14:58:08,200,1171485386347966465,frmylisa,dami ü¶ã,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'cvntychaengnie', 'name': 'ü•ëüçù...",NaN,NaN,NaN,NaN
3,1447909447410483200,1447909447410483200,2021-10-12 14:58:07 Hora de Ver√£o de Romance,2021-10-12,14:58:07,200,39190143,hltheorem,larry ho,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1447909445879599110,1447909445879599110,2021-10-12 14:58:07 Hora de Ver√£o de Romance,2021-10-12,14:58:07,200,1444899071471329281,lacibolalalaa_,√ßakkanim`üìá,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10012,1447845222407344131,1447845222407344131,2021-10-12 10:42:55 Hora de Ver√£o de Romance,2021-10-12,10:42:55,200,1062979991800111104,aaliyaa1x,ùíú,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
10013,1447845215293825025,1447845215293825025,2021-10-12 10:42:53 Hora de Ver√£o de Romance,2021-10-12,10:42:53,200,1096347586326421505,halimakdemir06,Halim,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
10014,1447845211103641602,1447845211103641602,2021-10-12 10:42:52 Hora de Ver√£o de Romance,2021-10-12,10:42:52,200,78541371,_eyeguy,PTM,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
10015,1447845209086349322,1447845209086349322,2021-10-12 10:42:52 Hora de Ver√£o de Romance,2021-10-12,10:42:52,200,4642102642,globaltimesng,Global Times Nigeria,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
10016,1447845208398385155,1447845208398385155,2021-10-12 10:42:52 Hora de Ver√£o de Romance,2021-10-12,10:42:52,200,210003483,mbaheinrich,Martin Baumann,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [ ]:
df = df[df['language'] == 'en']
df = df.drop(columns = ['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone', 'user_id', 'username',
 'name', 'place', 'mentions', 'urls', 'photos', 'replies_count', 'retweets_count', 'likes_count', 'hashtags',
 'cashtags', 'link', 'retweet', 'quote_url', 'video', 'thumbnail', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
 'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src', 'trans_dest'])
df.drop_duplicates()